<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">

   <!-- Site Title -->
   <title>{{ portfolio.name }}'s Portfolio</title>

   <!-- Place favicon.ico in the root directory -->
   <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
   <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
   
   <!-- CSS here -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-pro.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon_gerold.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/backToTop.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/odometer-theme-default.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/light-mode.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
   <!-- Preloader Area Start -->
   <div class="preloader">
      <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
         <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg>

      <div class="preloader-heading">
         <div class="load-text">
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
         </div>
      </div>
   </div>
   <!-- Preloader Area End -->

   <!-- start: Back To Top -->
   <div class="progress-wrap" id="scrollUp">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
   </div>
   <!-- end: Back To Top -->

   <!-- HEADER START -->
   <header class="tj-header-area header-absolute">
      <div class="container">
         <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
               <div class="logo-box">
                  <a href="/portfolio">
                     <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                  </a>
               </div>

               <div class="header-info-list d-none d-md-inline-block">
                  <ul class="ul-reset">
                    <li><a href="mailto:{{ portfolio.email }}">{{ portfolio.email }}</a></li>
                  </ul>
               </div>
               <div class="header-menu" id="headerMenu">
               </div>
               <div class="mobile-menu d-lg-none"></div>
               <div class="header-button">
                  <a href="mailto:{{ portfolio.email }}" class="btn tj-btn-primary">Hire me!</a>
               </div>
               <div class="menu-bar d-lg-none">
                  <button>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </header>

   <main class="site-content" id="content">
      <!-- HERO SECTION START -->
      <section class="hero-section d-flex align-items-center" id="intro">
         <div class="intro_text">
            <svg viewBox="0 0 1320 300">
               <text x="50%" y="50%" text-anchor="middle">HI</text>
            </svg>
         </div>
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <div class="hero-content-box">
                     <span class="hero-sub-title">I am {{ portfolio.name }}</span>
                     <h1 class="hero-title">{{ portfolio.title }}</h1> <!-- Dynamic title -->

                     <div class="hero-image-box d-md-none text-center">
                        <img src="{{ portfolio.profile_picture_url }}" alt="Profile Picture">
                     </div>

                     <p class="lead">{{ portfolio.bio }}</p> <!-- Dynamic bio -->
                     
                     <div class="button-box d-flex flex-wrap align-items-center">
                        <a href="{{ portfolio.cv_link }}" class="btn tj-btn-secondary">Download CV <i class="flaticon-download"></i></a>
                        <ul class="ul-reset social-icons">
                           <li><a href="{{ portfolio.linkedin_link }}"><i class="fa-brands fa-linkedin-in"></i></a></li>
                           <li><a href="{{ portfolio.github_link }}"><i class="fa-brands fa-github"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 d-none d-md-block">
                  <div class="hero-image-box text-center">
                     <img src="{{ portfolio.profile_picture_url }}" alt="Profile Picture">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- HERO SECTION END -->

   <!-- JSS here -->
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/nice-select.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/backToTop.js') }}"></script>
   <script src="{{ url_for('static', filename='js/appear.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/gsap.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/ScrollTrigger.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/lenis.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/lightcase.js') }}"></script>
   <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/imagesloaded-pkgd.js') }}"></script>
   <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/odometer.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/magnific-popup.js') }}"></script>
   <script src="{{ url_for('static', filename='js/validate.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/meanmenu.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
